<%= title @project.name, 'Projects' %>
<%= @project.name %>
<%= link_to "Edit project", edit_project_path(@project) %>
<%= link_to "Delete project", @project, :method => :delete %>
<%= link_to "New ticket", new_project_ticket_path(@project) %>

<ul id='tickets'>
  <% @project.tickets.each do |ticket| %>
    <li>
      #<%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
    </li>
  <% end %>
</ul>
